<%- include ../includes/common/header.html %>
<div class="container">
    <% if(master){ %>
    <a href="javascript:;" class="selectSchoolToShow"><%= master.school.schoolname %></a>
    <% }else{ %>
    <a href="javascript:;" class="selectSchoolToShow">全国</a>
    <%}%>
    <div>
        <form action="/task" method="get">
            <input type="text" name="q" placeholder="搜索任务"/>
            <input type="button" id="searchTaskSubmit" value="搜索"/>
        </form>
    </div>
    <% if(tasks && tasks.length > 0){ %>
    <ul class="task-list">
        <% for(var i=0 ; i < tasks.length ; i++){ %>
        <li class="task-list-item">
            <h3>任务发布者：<a href="/user?uid=<%= tasks[i].author._id %>"><%= tasks[i].author.username %></a> | <%= tasks[i].author.sex %> | <%= tasks[i].author.school.schoolname %></h3>

            <h3>标题：<a href="/task/<%= tasks[i]._id %>"><%= tasks[i].title %></a></h3>

            <h3>报酬：<%= tasks[i].reward %></h3>

            <h3>内容：<%= tasks[i].content %></h3>

            <div class="receiver">
                <% if(tasks[i].isEnd){ %>
                <strong>任务已经完成</strong>
                <% } %>
                <p><%= tasks[i].receiveTasks.length %>人申请接受任务</p>
            </div>
        </li>
        <% } %>
    </ul>
    <% }else{ %>
    <p>没有任务或查询出错</p>
    <% } %>
    <div class="pager">
        <pagerlink page-count="<%= pageCount %>" ng-init="init()"></pagerlink>
    </div>
</div>
<%- include ../includes/common/footer.html %>