<div class="ng-pagination">
    <ul ng-if="pageCount>1 || showIfOnePage">
        <li ng-click="pageChange(1)" ng-if="showFirstLastText">{{firstText}}</li>
        <li ng-click="pageChange(currentPage-1>0?currentPage-1:1)">{{prevText}}</li>
        <li ng-repeat="pagenum in firstPagenums track by pagenum" ng-click="pageChange(pagenum)" ng-class="{active:currentPage===pagenum}">{{pagenum}}</li>
        <li ng-if="firstEllipses">...</li>
        <li ng-repeat="pagenum in secondPagenums track by pagenum" ng-click="pageChange(pagenum)" ng-class="{active:currentPage===pagenum}">{{pagenum}}</li>
        <li ng-if="secondEllipses">...</li>
        <li ng-click="pageChange(currentPage+1<=pageCount?currentPage+1:pageCount)">{{nextText}}</li>
        <li ng-click="pageChange(pageCount)" ng-if="showFirstLastText">{{lastText}}</li></ul>
        <lable ng-if="showGoto">{{gotoText}}
            <select>
                <option ng-repeat="pn in pagenum track by $index" value="{{pn}}">第{{pn}}页</option>
            </select>
        </label>
</div>

