<!--<% include ../layout/header %> -->
<!--<h2>注册页面</h2>-->
<!--<% if(typeof error !== 'undefined'){%>-->
<!--<div><em class='error'><%=error%></em></div>-->
<!--<%}%>-->
<!--<% if(typeof success !== 'undefined'){%>-->
<!--<div><strong class='success'><%=success%></strong></div>-->
<!--<%}%>-->
	<!--<div id='container'>-->
		<!--<form method='post'>-->
		<!--<div>-->
			<!--<label>用户名:</label>-->
			<!--<input type='text' name='uname'/>-->
		<!--</div>-->
		<!--<div>-->
			<!--<label>邮箱:</label>-->
			<!--<input type='text' name='uemail'/>-->
		<!--</div>-->
		<!--<div>-->
			<!--<label>密码:</label>-->
			<!--<input type='password' name='upwd'/>-->
		<!--</div>-->
		<!--<div>-->
			<!--<label>学校:</label>-->
			<!--<input type='text' name='uschool'/>-->
			<!--<input type='submit' value='注册'/>-->
		<!--</div>-->
		<!--</form>-->
	<!--</div>-->
<!--<div><a href='/user/login'>登录</a></div>-->
<!--<% include ../layout/footer %>-->