<% include ../layout/header %> 
<h2>个人空间页面</h2>

<% if(typeof error !== 'undefined'){%>
<div><em class='error'><%=error%></em></div>
<%}%>
<% if(typeof success !== 'undefined'){%>
<div><strong class='success'><%=success%></strong></div>
<%}%>
<strong>你好，<%= user.username %></strong>
<div><a href='/user/loginout'>注销</a></div>
<% include ../layout/footer %> 