<div class="W_layer W_layer_pop " id="layer_14600159999731" style="left: 399.5px; top: 233px;"><div class="content"><div class="layer_personcard" layout-shell="true" node-type="inner"><div class="layer_personcard">
    <div style="background-image:url(http://img.t.sinajs.cn/t5/skin/public/covervip/2051_m.jpg?version=a7f9131c67d1bcfb)" class="nc_head">
        <div class="pic_box"><a href="http://weibo.com/zhudan?from=usercardnew&amp;refer_flag=0000020001_" target="_blank"><img width="50" height="50" src="http://tp3.sinaimg.cn/1644419370/180/5751210340/0" imgtype="head" uid="1644419370" title="朱丹" suda-uatrack="key=tblog_usercard_new&amp;value=chick_iconver" class="W_face_radius"></a>
            <a target="_blank" suda-data="key=pc_apply_entry&amp;value=feed_card_icon" "="" href="http://verified.weibo.com/verify" class="icon_bed"><i title="著名主持人、演员朱丹" class="W_icon icon_pf_approve"></i></a>    </div>

        <div class="mask">
            <div class="name"><a class="W_f14" target="_blank" href="http://weibo.com/zhudan?from=usercardnew&amp;refer_flag=0000020001_" suda-uatrack="key=tblog_usercard_new&amp;value=chick_nick" title="朱丹" uid="1644419370">朱丹</a>
                <span class="remark">(<a href="javascript:void(0)" action-type="setRemark" action-data="remark=&amp;uid=1644419370&amp;fnick=朱丹">设置备注</a>)</span>
                <em class="W_icon female" title="女"></em>
            </div>
            <div class="intro W_autocut">

                <span title="著名主持人、演员朱丹">简介：著名主持人、演员朱丹</span>
            </div>
        </div>
    </div>

    <div class="nc_content">
        <div class="c_count">
            <span class="c_follow W_fb"><a target="_blank" href="http://weibo.com/1644419370/follow?refer=usercard&amp;wvr=5&amp;from=usercardnew" suda-uatrack="key=tblog_usercard_new&amp;value=chick_attnum">关注<em class="num  W_fb">845</em></a></span>
            <span class="c_fans W_fb"><a target="_blank" href="http://weibo.com/1644419370/fans?refer=usercard&amp;wvr=5&amp;from=usercardnew&amp;current=fans" suda-uatrack="key=tblog_usercard_new&amp;value=chick_fansnum">粉丝<em class="num W_fb">848万</em></a></span>
            <span class="c_weibo W_fb"><a target="_blank" href="http://weibo.com/1644419370/profile?refer=usercard&amp;wvr=5&amp;from=usercardnew&amp;mod=weibo" suda-uatrack="key=tblog_usercard_new&amp;value=chick_pubnum">微博<em class="num W_fb">7194</em></a></span>
        </div>


        <div class="user_info">
            <ul class="info_ul clearfix">
                <li class="info_li"><a class="interval W_autocut S_txt1" target="_blank" href="http://s.weibo.com/user?type=tag&amp;tag=%E6%B5%99%E6%B1%9F+%E6%9D%AD%E5%B7%9E" title="浙江 杭州" suda-uatrack="key=tblog_usercard_new&amp;value=chick_area">浙江 杭州</a>
                </li>
            </ul>
        </div>

        <div class="c_btnbox" node-type="followBtnBox" action-data="uid=1644419370&amp;fnick=朱丹&amp;f=1&amp;template=1&amp;refer_sort=card&amp;refer_flag=followed&amp;refer_flag=0000020001_&amp;refer_lflag=0000015010_">
            <a href="javascript:void(0);" class="W_btn_b" action-type="unFollow"><em class="W_ficon ficon_right">Y</em>已关注<em class="W_ficon ficon_arrow_down_lite">g</em></a>
            <a class="W_btn_b" href="javascript:void(0)" action-type="webim.conversation" action-data="uid=1644419370&amp;nick=朱丹" suda-uatrack="key=V6newcard&amp;value=privateletter">私信</a>
            <a href="javascript:void(0);" class="W_btn_b W_btn_pf_menu" node-type="more"><em class="W_ficon ficon_menu S_ficon">=</em></a>

        </div>
    </div>

</div>
</div><div class="W_layer_arrow"><span class="W_arrow_bor W_arrow_bor_l" node-type="arrow" style="top: 162px;"><i class="S_line3"></i><em class="S_bg2_br"></em></span></div></div></div>